
.box-hover{
  position: absolute;
  transition: all 0.7s cubic-bezier(0.48, 0, 0.745, 0.715);
  transition: 2s;
  
}

.main-card:hover .box-hover{
  position: relative;
  display: block;
  transform: translateY(2);
 
}

.main-card{
  background-color: "#B5F5E7";
  transition: 2s;

}

.main-card:hover {
  transform: scale(1.03);
  z-index: 1;
  box-shadow: "2px 2px 10px 10px grey";
}

.gold-rating{

    background: radial-gradient(ellipse farthest-corner at right bottom, #f0d353 0%, #d99b1e 8%, #9f7928 30%, #997728 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #916e1d 62.5%, #5d4a1f 100%);
}