
*{
  margin: 0%;
  padding: 0%;
}

.box-hover{
  position: absolute;
  display: none;
  transition: all 1.3s cubic-bezier(0.48, 0, 0.745, 0.715);
  transition: 2s;
  height: auto;
}

.imgbar{
  height: 60px ;
  transition: all 2s cubic-bezier(0.095, 0.72, 0.185, 1);
}
.imgbar:hover{
  height: 185px;
}

.main-card:hover .imgbar{
  height: 185px;
}

.main-card:hover .box-hover{
  position: relative;
  display: block;
  transform: translateY(3);
 
}

.main-card{
  background-color: "#B5F5E7";
  transition: all 3s cubic-bezier(0.065, 0.82, 0.165, 1);

}

.main-card:hover {
  transform: scale3d(1.02);
  z-index: 3;
  box-shadow: "2px 2px 10px 10px grey";
}

.gold-rating{

    background: radial-gradient(ellipse farthest-corner at right bottom, #f0d353 0%, #d99b1e 8%, #9f7928 30%, #997728 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #916e1d 62.5%, #5d4a1f 100%);
}